* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ac92a6;
}

.slider__wrapper {
    width: 480px;
    height: 90%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #e9fae3;
    box-shadow: 0 0 20px #d5c7bc;

    display: flex;
    flex-direction: column;
    align-items: center;

}


.slider__mems {
    width: 480px;
    height: 480px;
    overflow: hidden;
}

.mem-item {
    width: 480px;
    height: 480px;
    position: absolute;
    opacity: 0;
    z-index: 0;
    transform: scale(0.75);
    transition: transform ease-in-out 0.3s, opacity ease-in-out 0.3s;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.mem1 {
    background-image: url(images/mem1.jpg);
}

.mem2 {
    background-image: url(images/mem2.jpg);
}

.mem3 {
    background-image: url(images/mem3.jpg);
}

.mem4 {
    background-image: url(images/mem4.jpg);
}

.mem5 {
    background-image: url(images/mem5.jpg);
}

#mem1:checked ~ .slider__mems .mem1,
#mem2:checked ~ .slider__mems .mem2,
#mem3:checked ~ .slider__mems .mem3,
#mem4:checked ~ .slider__mems .mem4,
#mem5:checked ~ .slider__mems .mem5 {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
} 


.slider__wrapper input {
    display: none;
}


.slider__wrapper .slider__controls {
    margin: 0 auto;
    margin: 20px 0 20px;
    display: flex;
}

.slider__controls .point__wrapper {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    border: 2px solid #ac92a6;
    overflow: visible;
}

.slider__controls label {
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;

}

.slider__controls .point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 3px 0 0 3px;
    transition: background ease-in-out 0.3s;
}



.slider__wrapper label:not(:last-child) {
    margin-right: 5px;
}

.slider__controls label:hover .point{
    background: #d5c7bc;
}

#mem1:checked ~ .slider__controls label:nth-of-type(1) .point,
#mem2:checked ~ .slider__controls label:nth-of-type(2) .point,
#mem3:checked ~ .slider__controls label:nth-of-type(3) .point,
#mem4:checked ~ .slider__controls label:nth-of-type(4) .point,
#mem5:checked ~ .slider__controls label:nth-of-type(5) .point {
    background: #ac92a6;
}

.slider__description {
    margin-bottom: 30px;
}

.mem-comment {
    font-size: 0;
    opacity: 0;
    z-index: 0;
    transform: scale(0.75);
    transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s;
}

#mem1:checked ~ .slider__description .comment1,
#mem2:checked ~ .slider__description .comment2,
#mem3:checked ~ .slider__description .comment3,
#mem4:checked ~ .slider__description .comment4,
#mem5:checked ~ .slider__description .comment5 {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
    font-size: 21px;
}
